.card{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.thumbnailImg{
    width: 180px;
    margin: 0px 100px 0px 0px;
    padding: 0px 2px;
}
.title{
    margin: 0px;
}

